- name: Install required packages
  apt:
    name:
      - curl
    state: present
    update_cache: yes

- name: Install K3s agent
  shell: |
    curl -sfL https://get.k3s.io | \
    K3S_URL=https://{{ hostvars[groups['k8s_master'][0]].ansible_host }}:6443 \
    K3S_TOKEN={{ hostvars[groups['k8s_master'][0]].k3s_token }} \
    sh -
  args:
    executable: /bin/bash

- name: Ensure k3s-agent is running
  systemd:
    name: k3s-agent
    state: started
    enabled: yes
