- name: Update apt cache
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - curl
    state: present

- name: Install K3s server
  shell: |
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_EXEC="server --write-kubeconfig-mode 644 --tls-san {{ ansible_host }} --node-ip {{ ansible_default_ipv4.address }}" sh -
  args:
    executable: /bin/bash

- name: Ensure k3s service is running
  systemd:
    name: k3s
    state: started
    enabled: yes

- name: Wait for Kubernetes API
  wait_for:
    host: "{{ ansible_default_ipv4.address }}"
    port: 6443
    timeout: 60
